alembic==1.5.8
allure-pytest==2.8.40
allure-python-commons==2.8.40
analyzer==0.1.1
analyzerdam==0.1.2
analyzerstrategies==0.1.5
apipkg==1.5
appdirs==1.4.4
Appium-Python-Client==1.1.0
attrs==20.3.0
Babel==2.9.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
conda==4.3.16
configparser==5.0.2
crayons==0.4.0
distlib==0.3.1
execnet==1.8.0
Faker==8.1.3
filelock==3.0.12
Flask==2.0.0
googlefinance==0.7
greenlet==1.0.0
idna==3.1
iniconfig==1.1.1
itsdangerous==2.0.0
Jinja2==3.0.0
Mako==1.1.4
MarkupSafe==2.0.0
mox==0.5.3
numpy==1.20.2
packaging==20.9
pandas==1.2.4
pbr==1.6.0
pipenv==2020.11.15
pluggy==0.13.1
py==1.10.0
py-moneyed==1.2
pycosat==0.6.3
PyMySQL==1.0.2
pyparsing==2.4.7
pystock==0.1.6
pytest==6.2.3
pytest-forked==1.3.0
pytest-xdist==2.2.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
requests==2.25.1
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
scipy==1.6.3
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.12
text-unidecode==1.3
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.4
virtualenv-clone==0.5.4
webdriver-manager==3.4.0
Werkzeug==2.0.0